<h1 id="about-responsive-menu">About Responsive Menu</h1>
<p><strong>jQuery Responsive Menu</strong> is a drop-down menu for responsive websites. It is a <strong>jQuery plugin</strong> that includes a 
JavaScript file and CSS file as well as sample HTML.</p>
<ul>
<li><strong>Description</strong>: Drop-down Menu jQuery plugin for responsive layouts</li>
<li><strong>Repository</strong>: <a href="https://github.com/jbowyers/responsive-menu">https://github.com/jbowyers/responsive-menu</a></li>
<li><strong>Demo</strong>: <a href="http://responsive-menu.com">http://responsive-menu.com</a></li>
<li><strong>Bower</strong>: jquery-responsive-menu</li>
<li><strong>Requires</strong>: jQuery</li>
<li><strong>Author</strong>: jbowyers</li>
<li><strong>Copyright</strong>: 2015 jbowyers</li>
<li><strong>License</strong>: GPLv3</li>
<li><strong>Version: 0.2.1</strong></li>
</ul>
<h2 id="demo">Demo</h2>
<p>Visit <a href="http://responsive-menu.com">http://responsive-menu.com</a> to view a responsive demo</p>
<h2 id="basic-setup">Basic Setup</h2>
<ul>
<li><strong>Download</strong> - Download and extract the Responsive Menu zip files - <a href="https://github.com/jbowyers/responsive-menu">https://github.com/jbowyers/responsive-menu</a></li>
<li><strong>Copy files</strong> - Copy the responsive-menu.js and responsive-menu.css files to your project</li>
<li><strong>Setup Menu HTML</strong> - Open the responsive-menu.html sample file and copy and past the menu html into the 
html files in your project. Or, setup existing menus in your project to work with Responsive Menu (see Configuration).</li>
<li><strong>Link to CSS and JavaScript files</strong> - Add link and script references to your HTML files</li>
<li><strong>Initialize Responsive Menu</strong> - Activate the plugin using jQuery (see Configuration)</li>
</ul>
<h3 id="using-bower-package-manager">Using Bower Package Manager</h3>
<p>The Responsive Menu repo is registered as a bower package as jquery-responsive-menu.</p>
<h2 id="configuration">Configuration</h2>
<h3 id="suggested-html">Suggested HTML</h3>
<pre><code class="lang-html">
    &lt;div class=&quot;rm-container&quot;&gt;
        &lt;a class=&quot;rm-toggle rm-button rm-nojs&quot; href=&quot;#&quot;&gt;Menu&lt;/a&gt;
        &lt;nav class=&quot;rm-nav rm-nojs rm-lighten&quot;&gt;
            &lt;ul&gt; ...</code></pre>
<h3 id="theme-class-options">Theme class options</h3>
<p><strong>Options</strong>: rm-lighten, rm-darken.<br>rm-lighten theme lightens menu item backgrounds and is best used if your design requires a dark menu background color.
rm-darken theme darkens menu item backgrounds and is best used if your design required a light menu background color.
You can set the menu background color to any color to work with the chosen theme.</p>
<h3 id="sample-jquery">Sample jQuery</h3>
<pre><code class="lang-javascript">
    jQuery(function ($) {
        var menu = $(&#39;.rm-nav&#39;).rMenu({

            // Optional Settings
            minWidth: &#39;960px&#39;,

        });
    });</code></pre>
<h3 id="full-list-of-options">Full List of Options</h3>
<h4 id="minwidth">minWidth</h4>
<p>Minimum width for expanded layout in pixels - String<br>Should match media query in css file. Must be in pixels and include px units if not using Modernizr.<br>default: &#39;769px&#39;</p>
<h4 id="transitionspeed">transitionSpeed</h4>
<p>The opening and closing speed of the menus in milliseconds<br>default: 400</p>
<h4 id="jqueryeasing">jqueryEasing</h4>
<p>The jQuery easing function - used with jQuery transitions<br>default: &#39;swing&#39;<br>options: &#39;swing&#39;, &#39;linear&#39;</p>
<h4 id="css3easing">css3Easing</h4>
<p>The CSS3 transitions easing function - used with CSS3 transitions<br>default: &#39;ease&#39;</p>
<h4 id="togglebtnbool">toggleBtnBool</h4>
<p>Use button as Toggle Link - instead of text<br>default: true</p>
<h4 id="togglesel">toggleSel</h4>
<p>The Toggle Link selector<br>default: &#39;.rm-toggle&#39;</p>
<h4 id="menusel">menuSel</h4>
<p>The menu/sub-menu selector<br>default: &#39;ul&#39;</p>
<h4 id="menuitemssel">menuItemsSel</h4>
<p>The menu items selector<br>default: &#39;li&#39;</p>
<h4 id="animatebool">animateBool</h4>
<p>Use CSS3 animation/transitions<br>default: true<br>Do not use animation/transitions: false</p>
<h4 id="acceleratebool">accelerateBool</h4>
<p>Force GPU Acceleration 
default: false<br>Force: true</p>
<h4 id="developmentmode">developmentMode</h4>
<p>Use development mode - outputs information to console<br>default: false</p>
<h3 id="the-toggle-button">The Toggle Button</h3>
<p>An optional menu-btn.png file is included. By default, the same image is included in the CSS as a data URI
so the png file is not required unless you would prefer to use the png file instead of the data URI.</p>
<h3 id="dependencies">Dependencies</h3>
<p>jQuery, Modernizr (optional)</p>
<h3 id="how-to-run-tests">How to run tests</h3>
<p>No testing framework at this time</p>
<h3 id="task-managers">Task Managers</h3>
<p>Gruntfile.js and package.json files are included if you want to manage tasks using Grunt.<br>Note: The Grunt file uses configuration information contained in the package.json</p>
<h3 id="deployment-instructions">Deployment instructions</h3>
<p>The git repo is versioned and includes a Bower configuration file so the repo can be easily included in your project as a dependency.</p>
<h2 id="contribution-guidelines">Contribution guidelines</h2>
<p>Contributions are much appreciated and welcomed.</p>
<h3 id="who-do-i-talk-to-">Who do I talk to?</h3>
<p>jbowyers</p>
